@font-face {
    font-family: 'BoldFont';
    src: url("../font/LatoWeb-Bold.ttf");
}

.c_container{
    /*horiz-align: center;*/
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    font-family: 'BoldFont';
    font-size: 20px;
}

#boxes{
    background: darkgrey;
    border-radius: 30px;
}

.text_content{
    margin-left: 20px;
    margin-top: 20px;
    margin-botom: 20px;
    margin-right: 20px;
}