body{
    margin: 0;
    font-family: 'RegularFont';

}

@font-face {
    font-family: 'RegularFont';
    src: url("../font/LatoWeb-Regular.ttf");
}


h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.content {
    background: url("../images/mainpageBack.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 40px;
    left: 0;
    right: 0;
}

.header{
    background: black;
    position: absolute;
    width: 100%;
    height: 40px;
}

.h_container{
    text-transform: uppercase;
    margin: 0;
    margin-top: 12px;
    position: relative;
    text-align: center;
}

.reg_log {
    position: absolute;
    right: 0;
    display: inline-block;
    align-items: center;
    margin-right: 100px;
    color: lightcyan;
    text-decoration: none;
}
.reg_log:hover{color: cadetblue;}


.button_link{
    display: inline-block;
    margin: 0 20px;
    align-items: center;
    text-decoration: none;
    color: white;
}
.button_link:hover{color: darkgrey;}

