@font-face {
    font-family: 'BoldFont';
    src: url("../font/LatoWeb-Bold.ttf");
}

.c_container{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    font-family: 'BoldFont';
    font-size: 20px;
    flex-direction: column;
}


td{
    /*background: lightslategray;*/
    text-align: center;
    /*border: 1px solid black;*/
    border-radius: 30px;
    height: 50px;
    overflow: hidden;
    padding: 5px;
    background: lightgray;
}

table{
    margin: 20px;
}

.icons{
    padding-top: 10%;
    width: 25px;
    height: auto;

}

.tabl{
    display: flex;
    background: lightslategray;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
}
.tablename{
    margin-top: 10px;
}

.icon{
    width: 50px;
    margin: 20px;
}
.text_content{
    margin: 20px;
}
.avatarimg{
    height: 100%;
    /*width: auto;*/
}


@media screen and (max-width: 1000px) {
    .c_container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        margin-left: 50px;
        margin-right: 50px;
    }
    .text_content{
        font-size: 45px;
    }
    @media all and (orientation:landscape) {
        .text_content{
            font-size: 20px;
        }
    }
}